In [1]:
titanic_data = spark.read.csv('/FileStore/tables/titanic/titanic_train-ac800.csv', header=True, inferSchema=True)

In [2]:
display(titanic_data)

In [3]:
titanic_data.printSchema()

In [4]:
#Finding maximum fare
titanic_data.agg({"Fare":"max"}).collect()

In [5]:
import pyspark.sql.functions as F

In [6]:
#Finding maximum fare - another way
titanic_data.agg(F.max(titanic_data.Fare)).collect()

In [7]:
display(titanic_data.groupBy('Pclass').count())

In [8]:
titanic_data.groupBy('Pclass').avg('Age').collect()

In [9]:
#Descending order of age
display(titanic_data.orderBy(titanic_data.Age.desc()))

In [10]:
#Person with longest name
titanic_data

In [11]:
### UDF in dataframes

In [12]:
from pyspark.sql.functions import udf

In [13]:
def getLen(word):
  return len(word)

In [14]:
from pyspark.sql.types import IntegerType
len_udf = udf(getLen, IntegerType())

In [15]:
titanic_data = titanic_data.select("*", len_udf("Name").alias("len_name"))

In [16]:
titanic_data.agg({'len_name':'max'}).collect()

In [17]:
display(titanic_data[titanic_data.len_name == 82])

In [19]:
titanic_data.select(len_udf("Name").alias("len_name")).len_name

In [20]:
##Remove all the rows in which age is missing

In [21]:
help(titanic_data.dropna)

In [22]:
display(titanic_data.dropna(subset=['Age']))